language: python

python:
  - "3.6"

before_script:
  - wget https://raw.githubusercontent.com/SKDE-Analyse/python-scripts/v1.1.0/skde/extract_sas_documentation.py

script:
  - python extract_sas_documentation.py "makroer" "makroer/tests" "rateprogram" "rateprogram/sas" "tilrettelegging/npr" "tilrettelegging/ssb" "tests"

deploy:
  provider: pages                         # Specify the gh-pages deployment method
  skip_cleanup: true                      # Don't remove files
  github_token: $GITHUB_TOKEN             # Set in travis-ci.org dashboard
  local_dir: docs                         # Deploy the docs folder
  on:
    branch: master

notifications:
  email: false
